name: Publicar mi Web

on:
  push:
    branches:
      - main

jobs:
  cocinar-y-subir:
    runs-on: ubuntu-latest
    steps:
      - name: 1. Descargar mi codigo
        uses: actions/checkout@v4

      - name: 2. Preparar el Cocinero (Node)
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          # Hemos quitado la linea de "cache" que daba el error anterior

      - name: 3. Cocinar la web (Build)
        run: |
          npm install
          npm run build

      - name: 4. Enviar plato terminado a Plesk (SFTP)
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.SFTP_SERVER }}
          username: ${{ secrets.SFTP_USERNAME }}
          password: ${{ secrets.SFTP_PASSWORD }}
          port: 22
          source: "dist/*"
          target: "/var/www/vhosts/hoycarta.es/httpdocs/"
          strip_components: 1
